absl-py==0.15.0
albumentations==1.3.0
AMQPStorm==2.10.0
anyio==3.6.2
apturl==0.5.2
argon2-cffi==20.1.0
astunparse==1.6.3
attrs==21.2.0
autopep8==2.0.2
bcrypt==4.0.1
beautifulsoup4==4.12.2
black==22.12.0
blinker==1.4
boto3==1.11.9
botocore==1.14.17
brainframe-apps==0.3.20
brainframe-cli==0.2.0
brainframe-sys-tools==0.3.19
Brlapi==0.7.0
cached-property==1.5.2
cachetools==5.3.0
certifi==2022.12.7
cffi==1.14.6
chardet==3.0.4
charset-normalizer==3.1.0
cheroot==8.5.2
CherryPy==18.6.1
click==8.1.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
contourpy==1.0.7
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.33
darkdetect==0.7.1
dbus-python==1.2.16
defer==1.0.6
desert==2020.11.18
distlib==0.3.6
distro==1.8.0
distro-info===0.23ubuntu1
docker==4.4.4
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
editables==0.3
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.0
falcon==3.1.1
falcon-multipart==0.2.0
ffmpeg-python==0.2.0
ffprobe-python==1.0.3
filelock==3.9.0
flake8==6.0.0
flatbuffers==1.12
fonttools==4.39.3
ftputil==5.0.4
future==0.18.3
gast==0.4.0
google-auth==2.17.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
gstly==0.4.4
gstreamer-player==1.1.2
h11==0.14.0
h5py==3.1.0
hatch==1.6.3
hatchling==1.12.2
httpcore==0.16.3
httplib2==0.18.1
httptools==0.5.0
httpx==0.23.3
hyperlink==21.0.0
idna==3.4
imageio==2.24.0
imgaug==0.4.0
importlib-metadata==6.6.0
importlib-resources==5.10.2
iniconfig==2.0.0
iso8601==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.3.0
jaraco.text==3.5.1
jeepney==0.8.0
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
kafka-python==2.0.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.13.1
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
linecache2==1.0.0
louis==3.12.0
lxml==4.9.2
macaroonbakery==1.3.1
Mako==1.0.7
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.13.0
marshmallow-enum==1.5.1
matplotlib==3.6.3
mccabe==0.7.0
mdurl==0.1.2
meld==3.20.2
meson==0.55.3
more-itertools==8.10.0
mutagen==1.46.0
mypy-extensions==0.4.3
netifaces==0.10.4
networkx==3.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.10.0
openpyxl==3.0.10
openvino==2021.4.2
openvisioncapsule-tools==0.3.7
opt-einsum==3.3.0
orjson==3.6.1
packaging==23.1
pamqp==2.3.0
pandas==1.2.5
paramiko==2.12.0
pathspec==0.10.3
pathtools==0.1.2
pbr==5.4.5
peewee==3.14.4
pexpect==4.8.0
Pillow==8.3.2
pipreqs==0.4.11
pkg-about==1.0.8
platformdirs==2.6.2
pluggy==1.0.0
portend==2.7.1
prompt-toolkit==1.0.14
protobuf==3.20.3
psutil==5.5.1
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pubsus==0.1.1
py-cpuinfo==9.0.0
py-openapi-schema-to-json-schema==0.0.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyc-wheel==1.2.7
pycairo==1.20.0
pyclipper==1.3.0.post4
pycodestyle==2.10.0
pycparser==2.20
pycryptodomex==3.9.7
pycups==1.9.73
pyflakes==3.0.1
Pygments==2.14.0
PyGObject==3.42.0
PyInquirer==1.0.3
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.2
pyqtdarktheme==2.1.0
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
pyrsistent==0.18.0
pysftp==0.2.9
pytest==7.2.1
pytest-benchmark==4.0.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-dbusmock==0.19
python-debian===0.1.36ubuntu1
python-dotenv==1.0.0
python-i18n==0.3.9
pytz==2023.2
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==6.0
QtAwesome==1.2.2
QtPy==2.3.0
qudida==0.0.4
readerwriterlock==1.0.9
regex==2023.3.23
reportlab==3.5.34
requests==2.28.2
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
rich==13.3.1
rsa==4.9
s3transfer==0.3.7
schedule==1.1.0
scikit-image==0.19.3
scikit-learn==0.22.2
scipy==1.4.1
SecretStorage==3.3.3
Shapely==1.7.1
shellingham==1.5.0.post1
shiboken2==5.15.2.1
simplejson==3.16.0
sip==4.19.21
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
ssh-import-id==5.10
systemd-python==234
tabulate==0.8.9
tempora==4.1.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.1
tensorflow-estimator==2.5.0
termcolor==1.1.0
testresources==2.0.0
texttable==1.6.7
tifffile==2022.10.10
timeloop==1.0.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.6
traceback2==1.4.0
typing-extensions==3.7.4.3
typing-inspect==0.7.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==3.2.0
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.26.15
userpath==1.8.0
uvicorn==0.22.0
uvloop==0.17.0
vcap==0.3.6
vcap-utils==0.3.6
virtualenv==20.17.1
visioncapsule-tools==0.3.19
wadllib==1.3.3
watchdog==0.10.4
watchfiles==0.19.0
wcwidth==0.2.6
websocket-client==1.4.2
websockets==11.0.3
Werkzeug==2.2.3
wget==3.2
wrapt==1.12.1
wxPython==4.0.7
xkit==0.0.0
yarg==0.1.9
zc.lockfile==2.0
zipp==3.15.0
